<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.UserRepository">
    <resultMap id="userResultMap" type="domain.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="birthday" column="birthday" javaType="java.sql.Date"/>
    </resultMap>

    <select id="findAll" resultType="domain.User">
        SELECT * FROM users
    </select>

    <insert id="save" parameterType="domain.User">
        INSERT INTO users (name, birthday)
        VALUES (#{name}, #{birthday});
    </insert>

</mapper>

